/* Colors and inspired by avasdemon.com (best webcomic ever) */
/* By Lunaversity (http://steamcommunity.com/id/lunaversity) for ScriptFodder */
/* Changing body */

* {
    border-color: #f5bc2f !important;
}
body,
html {
    background: #4d0a00;
}
border-color,
border-bottom,
border-top {
    color: #f5bc2f !important;
}
hr {
    color: #f5bc2f !important;
    border-color: #f5bc2f !important;
}
/* Changing Text */

small {
    color: #aaa !important;
}
span {
    color: #aaa !important;
}
h1,
h2,
h3,
h4,
h5,
p {
    color: #F90 !important;
}
a {
    text-decoration: none !important;
    color: #FC3 !important;
}
a:hover {
    text-decoration: underline !important;
    color: #C00 !important;
}
.text-center {
    color: #F90;
}
/* Change script listings/job boxes */

.script-listing {
    position: relative;
    display: block;
    padding: 6px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #250302;
    border: 1px solid #f5bc2f;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
/* Change NAV bar */

navbar-default {
    border-color: #f5bc2f;
}
.navbar,
navbar-default {
    border-radius: 0;
    min-height: 60px;
    background: #5E2121;
    border: 0 !important;
    border-bottom: 5px;
    margin-bottom: 0;
    border-color: #f5bc2f !important;
    background-color: #5E2121;
}
.navbar .nav>li>a {
    color: #B2B2B2;
    font-size: 13px;
    line-height: 22px;
    font-weight: 500;
    background-color: #5E2121;
}
.page-header {
    border-bottom: 5px solid #f5bc2f !important;
    background: #4D0A00 !important;
}
/* Bootstrap */

.main-jumbo {
    background-image: none;
    background: #3E0404;
}
/* what the fuck, it has inner-css >-. */

.row {
    background: #4D0A00 !important;
    background-color: #4D0A00 !important;
    border-color: #f5bc2f !important;
}
/* footer */

.footer-top {
    background: #3E0404 !important;
}
.footer-bottom {
    background: #4d0a00 !important;
}
/* icons */

.fa {
    color: #FC3 !important;
    background: transparent !important;
}
/* buttons */

.btn {
    background: #4C1313 !important;
    color: #FFF !important;
    text-shadow: none !important;
    border-color: #8f2f2f !important;
}
.btn:hover {
    background: #E24C4C !important;
    color: #FFF !important;
    border-color: #8f2f2f !important;
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    background: #8F2F2F !important;
    color: #aaa !important;
}
.panel,
.panel-default,
.panel-heading,
.panel-group,
.panel-collapsible {
    background-color: #4C1313 !important;
    color: #FFF !important;
}
.panel-heading {
    background: #5E2121 !important;
    border-bottom: 1px solid #f5bc2f !important;
    border-color: #f5bc2f !important;
}
/* Misc cause I'm tired of categorizing shit */

.page-tabs a:focus,
.page-tabs a:hover {
    background: #E24C4C !important;
}
.label {
    color: #FFF !important;
}
.panel-default {
    border: 0 !important;
    border-color: #f5bc2f;
}
.page-tabs .selected a {
    border-bottom-color: #f5bc2f !important;
    border-left-color: #f5bc2f !important;
    border-right-color: #f5bc2f !important;
    border-style: solid;
    border-top-color: #f5bc2f !important;
    border-width: 1px;
    color: #444;
    margin-top: -1px;
    background: #E24C4C !important;
}
.well {
    background: #5E2121 !important;
    color: #FFF;
    border: 0 !important;
}
.script-description {
    border: 1px dashed #f5bc2f !important;
}
.panel-footer {
    background: #5E2121 !important;
    border-color: #f5bc2f !important;
}
li {
    color: #FFF !important;
}
.thumbnail {
    background: #5E2121 !important;
    border: 0 !important;
}
.list-group-item {
    background: #4C1313 !important;
    border-color: #f5bc2f !important;
}
select {
    background: #4C1313 !important;
    border-color: #8F2F2F !important;
    color: #aaa !important;
}
input {
    background: #4C1313 !important;
    border-color: #8F2F2F !important;
}
.dropdown-menu {
    border-color: #f5bc2f !important;
    background: #4D0A00 !important;
}
.navbar-default .navbar-nav>.active>a {
    background: #E24C4C !important;
    border-bottom: 4px solid #f5bc2f !important;
}
th {
    color: #aaa;
    background: #5E2121 !important;
}
td {
    color: #aaa;
    background: #3E0404 !important;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background: #E24C4C !important;
    border-color: #8F2F2F !important;
}
.pagination>li>a,
.pagination>li>span {
    background: #4C1313 !important;
    border-color: #8F2F2F !important;
}
/* hover */

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    background: #8F2F2F !important;
    color: #aaa !important;
    border-color: #8F2F2F !important;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background: #E24C4C !important;
    border-color: #f5bc2f !important;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background: #E24C4C !important;
}
.dashboard-widget {
    background: #4C1313 !important;
    border: 0;
}
.panel-body canvas {
    padding: 0px !important;
}
/* cloud flare */

#cf-wrapper #cf-error-details .cf-highlight {
    background: #4d0a00 !important;
}
#cf-wrapper #cf-error-details {
    background: #5E2121 !important;
    color: #B2B2B2 !important;
}
/* AUGHWNFGE FORUMS */

.forum-category-header {
    background: #8F2F2F !important;
}
.forum-thread-title {
    background: #5E2121 !important;
    border-left: 1px solid !important;
    border-right: 1px solid !important;
    border-top: 1px solid !important;
}
.forum-thread-pagination {
    background: #5E2121 !important;
    border-left: 1px solid #F5BC2F !important;
    border-right: 1px solid #F5BC2F !important;
    border-bottom: 1px solid #F5BC2F !important;
}
.forum-post-author {
    background: #4D0A00 !important;
    color: #F90 !important;
}
.forum-post-right {
    background: #5E2121 !important;
}
.forum-post-footer-right a.post-button {
    background-color: #4C1313 !important;
    border: 1px solid #8f2f2f !important;
    color: #fff !important;
    float: right;
    font-size: 11px;
    font-weight: 600;
    margin: 0 4px 4px;
    padding: 6px 12px;
}
.popupbox {
    background-color: #4D0A00 !important;
}
.markdown-body blockquote {
    background: #4D0A00 !important;
}
.md-editor>.md-header{
    background: #4D0A00 !important;   
}
.forum-new-posts {
    background: #5E2121 !important;
}
.form-control {
    background: #5E2121 !important;
    color: #fff !important;
}
.breadcrumb {
    background: #5E2121 !important;
}
