/* https://github.com/Lunaversitay/ScriptFodder-Themes */

* {
    border-radius: 0 !important;
}
body,
html {
    background: #2c2c2c;
}
a {
    color: #EFEFEF !important;
}
a:hover {
    color: #696969 !important;
}
p,
span,
small,
h1,
h2,
h3,
h4,
h5 {
    color: #aaa !important;
}
thead {
    background: #222 !important;
    color: #aaa !important;
    border: 2.5px solid #000 !important;
}
th {
    background: transparent !important;
}
tr {
    background: transparent !important;
}
td {
    border: 1.5px solid #000 !important;
    color: #aaa !important;
}
.script-listing {
    border-left: 5px solid !important;
    border-left-color: #404040 !important;
    border-right: 0 !important;
    background: #222 !important;
    border-bottom: 0 !important;
    border-top: 0 !important;
}
.script-description {
    border: 1px solid #000 !important;
    background: #222 !important;
    color: #aaa !important;
}
/* fuck off warnings */

.big-warning {
    display: none !important;
}
.well {
    border-left: 5px solid !important;
    border-left-color: #404040 !important;
    background: #222 !important;
    color: #aaa !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
    border-top: 0 !important;
}
/* shitty borders */

.panel {
    border: 0 !important;
    color: #aaa !important;
}
.panel-heading {
    border-left: 5px solid !important;
    border-left-color: #404040 !important;
    background: #222 !important;
    border-bottom: 2.5px solid #404040 !important;
    border-top: 0 !important;
}
.panel-body {
    border-left: 5px solid !important;
    border-left-color: #404040 !important;
    background: #222 !important;
    border-bottom: 0 !important;
    border-top: 0 !important;
}
.panel-footer {
    border-left: 5px solid !important;
    border-left-color: #404040 !important;
    background: #222 !important;
    border-bottom: 0 !important;
    border-top: 2.5px solid #404040 !important;
}
.avatar {
    width: 64px !important;
    height: 64px !important;
}
.hidden-xs,
col-sm-2,
col-md-1 {
    padding: 0 !important;
}
.presentation {
    border-top: 1px solid #66CCB3 !important;
    border-right: 1px solid #66CCB3 !important;
    border-left: 1px solid #66CCB3 !important;
}
.page-header {
    background: #222 !important;
    border-bottom: 2.5px solid #000 !important;
}
.navbar {
    background: #2c2c2c !important;
    border: 0 !important;
    border-bottom: 2.5px solid #000 !important;
}
.footer-top {
    border-top: 2.5px solid #000 !important;
    background: #222 !important;
}
.navbar-brand img {
	padding: 16px 88.415px;
	background-image: url(../../img/logo_white.png);
	background-size: 100% 100%;
}
.navbar .nav>li>a {
    color: #fff !important;
}
.navbar .nav>li>a:hover {
    color: #aaa !important;
}
.navbar-default .navbar-nav>.active>a {
    background-color: #404040 !important;
    border-bottom: initial !important;
    border-left: 2.5px solid #000 !important;
    border-right: 2.5px solid #000 !important;
    color: #aaa !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	padding-bottom: 20px !important;
}
.thumbnail {
    border-color: #000 !important;
    background: #222 !important;
}
/*really gay button shit on the core seriously */

.btn {
    text-shadow: none !important;
    border: 0 !important;
}
.btn-default {
    border: 2.5px solid #000 !important;
    color: #aaa !important;
    background: #2c2c2c !important;
    text-shadow: none !important;
}
.btn-default:hover {
    color: #fff !important;
    border: 2.5px solid #000 !important;
    background: #2c2c2c !important;
}
.form-control {
    background: transparent !important;
    border: 2.5px solid #000 !important;
    color: #aaa !important;
}
.page-tabs .selected a {
    background: transparent !important;
    border-left-color: #000 !important;
    border-right-color: #000 !important;
    /* whoever the retard is that broke the border-bottom, kys */
    
    border-bottom: transparent !important;
    border-style: solid !important;
    border-top-color: #000 !important;
    border-width: 1px !important;
}
.nav-tabs>li.active>a {
    background: transparent !important;
    color: #aaa !important;
    border-color: #000 !important;
    border-bottom: none !important;
}
.nav>li>a:hover {
    background: #222 !important;
    border-color: #000 !important;
    border-bottom: transparent !important;
}
.page-tabs a:focus,
.page-tabs a:hover {
    border-bottom: none !important;
    background: #2c2c2c !important;
    border-color: #000;
}
.pagination>.active>a {
    border-color: #000 !important;
    background: #222 !important;
}
.pagination>li>a,
.pagination>li>span {
    border-color: #000 !important;
    background: #2c2c2c !important;
}
.pagination>.disabled>a {
    border-color: #000 !important;
    background: #222 !important;
}
.navbar-default .navbar-nav>.open>a {
    background: #222 !important;
}
.navbar-nav>li>.dropdown-menu {
    background: #222 !important;
    border-color: #000 !important;
}
.list-group-item {
    background: #2c2c2c !important;
    border: 2.5px solid #000 !important;
}
.row {
    background: transparent !important;
    color: #aaa !important;
    border-color: #000 !important;
}
.breadcrumb {
    background-color: #222222 !important;
    border: 1.5px solid #000;
}
.forum-thread-title {
    background-color: #222222 !important;
}
.forum-post {
    background-color: #2C2C2C !important;
    border: 1.5px solid #000 !important;
}
.forum-post-author {
    background-color: #222222 !important;
    border: 1.5px solid #000 !important;
}
.forum-post-footer-right a.post-button {
    background-color: #222222 !important;
    border: 1.5px solid #000 !important;
}
.forum-post-ratings {
    color: #aaa !important;
}
.forum-category-header {
    background-color: #222222 !important;
}
.table>thead:first-child>tr:first-child>td {
    background-color: #222222 !important;
}
.forum-category-name {
    background-color: transparent !important;
}
.forum-category-count {
    background-color: transparent !important;
}
.forum-category-lastpost {
    background-color: transparent !important;
}
blockquote {
    background-color: #222222 !important;
}
.forum-users-viewing {
    border: 1.5px solid #000 !important;
    color: #aaa !important;
}
.ratingsbox {
    background-color: transparent !important;
}
.popupbox {
    background-color: #222222 !important;
    border-color: #000;
}
.forum-thread-pagination {
    background-color: #222222 !important;
    border: 1.5px solid #000;
}
li {
    color: #aaa;
    /* not important */
}
.md-editor>.md-header {
    background-color: #222222 !important;
}
.md-editor active {
    border-color: #000;
}
.warning {
    background-color: rgba(240, 173, 78, .1) !important;
}

.forum-new-posts a {
    color: #333 !important;
}

table.forum-index tr > .forum-category-name > div > a > img:not([src='/assets/img/badges/pug.png']) {
	-webkit-filter: contrast(0%) brightness(1000%);
}

.dashboard-widget {
	border: 1px solid #000 !important;
	background-color: #313131 !important;
	color: #aaa !important;
}
.dashboard-widget > p {
	color: #aaa !important;
}

.img-thumbnail, body {
	background-color: #1F1F1F !important;
}

body > div.container-fluid > div {
	margin-top: -30px !important;
}

.main-jumbo > h2 {
	color: #fff !important;
}
.main-jumbo > p {
	color: #fff !important;
}
.main-jumbo a {
	color: #000 !important;
}

.notification-count{
	background: #1F1F1F !important;
}

.label {
	color: #fff !important;
}
}
